
.icon-PHP:before { content: '\e809'; } /* '' */
.icon-th-large:before { content: '\e807'; } /* '' */
.icon-th:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-CSS:before { content: '\e803'; } /* '' */
.icon-HTML:before { content: '\e802'; } /* '' */
.icon-Drupal:before { content: '\e800'; } /* '' */
.icon-Wordpress:before { content: '\e801'; } /* '' */